@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");


:root {
	--yellow: #fed330;
	--red: #e74c3c;
	--white: #fff;
	--black: #222;
	--light-color: #777;
	--border: 0.2rem solid #621708;
}

.form-box {
	margin: 0 auto;
	max-width: 50rem;
	padding: 2rem;
	background-color: #ffd872;
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.text h1 {
	text-align: center;
	padding-top: 30px;
	font-family: Lilita One;
	font-size: 60px;
	color: #621708;
}
.text h5 {
	text-align: center;
	margin-top: 7px;
	color: #621708;
	font-size: 12px;
}
.email {
	border: none;
	background-color: white;
	margin: 0.7rem 0;
	width: 40rem;
	padding: 1.4rem;
	font-size: 1.8rem;
	border-radius: 10px;
}
.pw {
	border: none;
	background-color: white;
	margin: 0.7rem 0;
	width: 40rem;
	padding: 1.4rem;
	font-size: 1.8rem;
	border-radius: 10px;
}
.input-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn2{
	margin-top: 1rem;
	display: flex;
	font-size: 2rem;
	padding: 1rem 3rem;
	margin: auto;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-transform: capitalize;
	transition: 0.2s linear;
	border-radius: 10px;
}

.btn2 {
	background-color: #ffa800;
	color: #621708;
}


.btn2:hover{
	letter-spacing: 0.2rem;
}

.daftar-masuk {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}
.daftar-masuk p {
	color: #621708;
	font-size: 1.5rem;
}
.daftar-masuk a {
	text-decoration: none;
	color: #5958b7;
}
.daftar-masuk a:hover{
	text-decoration: underline;
}
